body {
  background: #333;
  color: #2EF;
  user-select: none;
}

.App {
/*  text-align: center; */
  margin: 20px 100px 200px 100px;
}

.Logo {
  position: absolute;
  top: 18px;
  left: 775px;
  font-size: 26px;
  font-family: 'Share Tech', sans-serif;
/*  padding-bottom: 0px;
  border-bottom: 1px solid #2EF; */
}

.slider-wrapper {
  font-size: 11px;
  width: 800px;
  margin: 16px 0px 10px 0px;
}

.smallknob {
  float: left;
}

.smallknob-body {
  margin: 30px 10px 0px 10px;
}

.smallknob-label {
  margin-top: -10px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 11px;
}

.panel {
  float: left;
  margin-right: 30px;
  color: #2EF;
  text-align: center;
  font-size: 12px;
}

.panelarea {
  position: absolute;
  top: 580px;
  left: 70px;
}

.padding {
  width: 130px;
}

a:link { color: #2EF; }
a:visited { color: #2EF; }
a:hover { color: #2EF; }
a:active { color: #2EF; }

.info {
  position: absolute;
  top: 750px;
  left: 100px;
  background: #282828;
  width: 780px;
  height: 110px;
  font-size: 12px;
  padding: 10px;
}

dialog {
  padding: 0;
  border: 0;
  border-radius: 0.6rem;
  box-shadow: 0 0 1em black;
  width: 300px;
  height: 200px;
  background: #444;
  color: #EEE;
}
 
dialog::backdrop {
  /* 背景を半透明のブラックにする */
  background-color: rgba(0, 0, 0, 0.8);
}

.dialogheader {
  width: 100%;
  text-align: center;
  height: 22px;
  border-radius: 0.6rem 0.6rem 0 0;
  font-size: 13px;
  padding-top: 5px;
  background: #333;
}

.dialogbody {
  padding: 20px;
  font-size: 13px;
}

.dialogfooter {
  position: absolute;
  top: 170px;
  width: 100%;
  text-align: center;
}