body {
  background: #333;
  color: #2EF;
  user-select: none;
}

.App {
/*  text-align: center; */
  margin: 20px 100px 200px 100px;
}

.slider-wrapper {
  font-size: 11px;
  width: 800px;
  margin: 16px 0px 10px 0px;
}

.smallknob {
  float: left;
}

.smallknob-body {
  margin: 30px 10px 0px 10px;
}

.smallknob-label {
  margin-top: -10px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 11px;
}

.panel {
  float: left;
  margin-right: 30px;
  color: #2EF;
  text-align: center;
  font-size: 12px;
}

.panelarea {
  position: absolute;
  top: 580px;
  left: 70px;
}

.padding {
  width: 130px;
}

a:link { color: #2EF; }
a:visited { color: #2EF; }
a:hover { color: #2EF; }
a:active { color: #2EF; }

